@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  height: 100vh;
}

div#preload {
  display: none;
}

.controls {
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 500px;
  gap: 10px;
}

.controls span {
  font-size: 25px;
  margin-left: 10px;
}

.controls .button {
  font-family: "Rubik", sans-serif;
  padding: 0px 20px;
  height: 55px;
  border-radius: 10px;
  background-color: rgb(237, 237, 209);
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border: 1px solid rgb(218, 218, 189);
}

#display {
  flex: auto;
  justify-content: center;
  cursor: default;
}

#playerSelect {
  min-width: 150px;
  justify-content: center;
}

#reset,
#playerSelect {
  background-color: rgb(248, 248, 238);
  color: rgb(125, 125, 61);
  cursor: pointer;
}

#playerSelect.disabled {
  background-color: rgb(237, 237, 209);
  transition: all 0.3s;
  cursor: default;
}

#reset:hover,
#playerSelect:hover:not(.disabled) {
  background-color: rgb(226, 244, 238);
  transition: all 0.3s;
}

#gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  height: 500px;
  width: 500px;
  background-color: burlywood;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 10%);
}

#gameboard .square {
  background-color: white;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transition: all 0.5s;
}

#gameboard .square.x {
  background-image: url("img/X.svg");
}

#gameboard .square.xhover:hover,
#gameboard .square.x.draw {
  background-image: url("img/X-light.svg");
}

#gameboard .square.o {
  background-image: url("img/O.svg");
}

#gameboard .square.ohover:hover,
#gameboard .square.o.draw {
  background-image: url("img/O-light.svg");
}

#gameboard .square.win {
  background-color: rgb(189, 235, 213);
  transition: all 1s;
}

#gameboard .square.draw {
  background-color: rgb(250, 250, 250);
  transition: all 1s;
}
