@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  height: 100vh;
}

.controls {
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  height: 60px;
  align-items: center;
  width: 500px;
  gap: 10px;
}

.controls .button {
  font-family: 'Rubik', sans-serif;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(237, 237, 209);
  display: flex;
  height: 60px;
  align-items: center;
  transition: all 0.3s;
}

#display {
  flex: auto;
}

#reset {
  color: rgb(109, 109, 82);
}

#reset:hover {
  background-color: rgb(228, 228, 196);
  transition: all 0.3s;
}

#gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  height: 500px;
  width: 500px;
  background-color: burlywood;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 10%);
}

#gameboard .square {
  background-color: white;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

#gameboard .square.x {
  background-image: url("X.svg");
}

#gameboard .square.xhover:hover {
  background-image: url("X.svg");
}


#gameboard .square.o {
  background-image: url("O.svg");
}

#gameboard .square.ohover:hover {
  background-image: url("O.svg");
}

#gameboard .square.win {
  background-color: rgb(189, 235, 213);
  transition: all 1s;
}

#gameboard .square.draw {
  background-color: rgb(246, 246, 239);
  transition: all 1s;
}